<a href="https://colab.research.google.com/github/KTheodhori/Exploratory-Data-Analysis/blob/main/KRISTI_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  Our mission through-out this past summer vacation was to create an Exploratory Data Analysis Project on notebook. Our main goal was to start off by downloading each of the three Datasets that were given to us. I started by downloading the first Big Dataset that was reffered to as Medical. Following the download, I had to run the file unto collab using the synatx code ( ls ). Once the Medical Dataset was uploaded then I was ready to examine the entire Data and try to visualize each columns by there names, info, and there number of rows that i was dealing with. 

There after I started to download the rest of the two Datasets refered to as facilities and investigators. My instructions for the two datasets were to examine the data as I did with the previous one (medical), and try to fix any issue that might of came across me, in order to merge the datasets together to form one Big Dataframe. Through-out the process of cleaning the facilities and investigators datasets I came across some issues, regarding there names of columns and specifically on what column I had to merge the two so that it could be properly merge together. One way i fixed this problem was by capitalizing the name column in investigators Dataset in order for each Doctors name starting with there first and last names to be all capitalized, since the Medical Dataset were already done. Doing this it made it easy for me to combine the investigaors and facilities together using the synatx code ( pd.merge()). This method ( pd.merge()) in pandas let’s you do SQL type joins in pandas. You can combine dataframes using inner, left, right, outer joins. It is useful when the data for the analysis are not in one dataframe but spread across multiple dataframes.

Doing so i merge the facilites unto investigators, which therefore created a larger Dataframe that was called Clinical Trials. Once the Clinical Trials Dataframe was introduced, I merged it throughly by there columns starting with there name, city, state, and cred/(credientials). Here is a quick example of my syntax I used to merge them below...

{ medical_clinical = medical_trials.merge(clinical_trials, how = 'left',on=['first_nm','last_nm','city','state','Cred'])
medical_clinical.head(10) }

Finally, once I merged the Clinical Trials and Medical, I created a larger dataframe named Medicial_Clinical. Now, with the new Dataframe, I was able to identify which Doctors were attending specific locations. I was also able to see common primary specs. This project helped me understand different insights of Doctors Clinical Trial they performed at, and if there were any matches among there spouses that contributed the sanme type of work.

#PART 1: IMPORTING THE FILE INTO NOTEBOOK

In [1]:
import pandas as pd 
pd.set_option('display.max_columns', None)

In [2]:
!wget https://data.cms.gov/provider-data/sites/default/files/resources/69a75aa9d3dc1aed6b881725cf0ddc12_1657545617/DAC_NationalDownloadableFile.csv #This cell downloads the data from the cms website.

--2022-08-03 19:29:26--  https://data.cms.gov/provider-data/sites/default/files/resources/69a75aa9d3dc1aed6b881725cf0ddc12_1657545617/DAC_NationalDownloadableFile.csv
Resolving data.cms.gov (data.cms.gov)... 23.11.13.27, 2600:1407:21:29a::28a, 2600:1407:21:289::28a
Connecting to data.cms.gov (data.cms.gov)|23.11.13.27|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 731536014 (698M) [text/csv]
Saving to: ‘DAC_NationalDownloadableFile.csv’

DAC_NationalDownloa 100%[===================>] 697.65M  20.5MB/s    in 31s

2022-08-03 19:29:57 (22.6 MB/s) - ‘DAC_NationalDownloadableFile.csv’ saved [731536014/731536014]

In [3]:
!ls #Running ( ls ) shows us that the DAC_NationalDownnloadableFile.csv is available in the local filesystem for this notebook.

DAC_NationalDownloadableFile.csv  sample_data

In [4]:
medical_trials = pd.read_csv('DAC_NationalDownloadableFile.csv',encoding_errors='ignore',low_memory=False) # Here we are reading the file (DAC_NationalDownnloadableFile.csv) to pandas Dataframe.

#PART 2: EXAMING THE MEDICAL DATASET

In [5]:
medical_trials.head() # Here we detect the following Doctor's w/ their primary specs/(type of work) they do.

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,cty,st,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id
0,1215235031,7113184110,I20120202000430,ALLEN,SUSAN,K,NaN,F,NaN,OTHER,1998.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,415 N HIGGINS,SUITE 4,NaN,MISSOULA,MT,598024559,4.063030e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MT598024559MI415XXHIGG302
1,1215315775,840586251,I20160912001561,HILL,SAMANTHA,NaN,NaN,F,NaN,OTHER,2009.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549 NEW RD,SUITE E,NaN,SOMERS POINT,NJ,082442075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NJ082442075SO549XXRDXX301
2,1215478607,1254603012,I20170815001333,WHITED,STEPHANIE,NaN,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602 RADFORD ST,NaN,NaN,CHRISTIANSBURG,VA,240733303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,VA240733303CH602XXSTXX300
3,1215260161,547672214,I20201222001863,AMBRUS,VICTORIA,NaN,NaN,F,NaN,OTHER,2019.0,CLINICAL PSYCHOLOGIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1811A N US HWY 281,SUITE 8,NaN,MARBLE FALLS,TX,786544313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,TX786544313MA1811A281X501
4,1215265202,5597952945,I20101210000287,COLON GAVILLAN,ADA,NaN,NaN,F,NaN,OTHER,1982.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8 SUCALLE FLOR GERENA,NaN,NaN,HUMACAO,PR,007913912,7.878501e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,PR007913912HU8XXXXGERE400

In [6]:
medical_trials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2371710 entries, 0 to 2371709
Data columns (total 40 columns):
 #   Column           Dtype
---  ------           -----
 0   NPI              int64
 1    Ind_PAC_ID      int64
 2    Ind_enrl_ID     object
 3    lst_nm          object
 4    frst_nm         object
 5    mid_nm          object
 6    suff            object
 7    gndr            object
 8    Cred            object
 9    Med_sch         object
 10   Grd_yr          float64
 11   pri_spec        object
 12   sec_spec_1      object
 13      sec_spec_2   object
 14   sec_spec_3      object
 15   sec_spec_4      object
 16   sec_spec_all    object
 17      org_nm       object
 18   org_pac_id      float64
 19   num_org_mem     float64
 20   adr_ln_1        object
 21   adr_ln_2        object
 22   ln_2_sprs       object
 23   cty             object
 24   st              object
 25   zip             object
 26   phn_numbr       float64
 27      hosp_afl_1   float64
 28   hosp_afl_lbn_1  object
 29   hosp_afl_2      object
 30   hosp_afl_lbn_2  object
 31   hosp_afl_3      object
 32   hosp_afl_lbn_3  object
 33   hosp_afl_4      object
 34   hosp_afl_lbn_4  object
 35   hosp_afl_5      float64
 36   hosp_afl_lbn_5  object
 37   ind_assgn       object
 38   grp_assgn       object
 39   adrs_id         object
dtypes: float64(6), int64(2), object(32)
memory usage: 723.8+ MB

In [7]:
medical_trials.shape

(2371710, 40)

#PART 3: IMPORTING FACILITIES DATASET

In [8]:
from google.colab import drive
drive.mount('/content/drive')
# Here we imported the Facilities Data drive onto Collab!

Mounted at /content/drive

In [9]:
facilities= pd.read_csv("/content/drive/MyDrive/Data/facilities.csv")
# Here we are using the [ read_csv () ] function to read a CSV file into a dataframe.

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
facilities.head()
# Here we see the Facilities Dataframe

,id,nct_id,status,name,city,state,zip,country
0,54163635,NCT04072887,NaN,Novartis Investigative Site,Andalusia,Alabama,36420,United States
1,53628563,NCT03432260,NaN,DURECT Study Site 0001,San Diego,California,92118,United States
2,54846233,NCT01806571,NaN,Mayo Clinic in Arizona,Scottsdale,Arizona,85259,United States
3,54163636,NCT04072887,NaN,Novartis Investigative Site,Los Angeles,California,90025,United States
4,54163637,NCT04072887,NaN,Novartis Investigative Site,Westminster,California,92683,United States

In [11]:
facilities = facilities.rename({"id":"facility_id"}, axis = 1)
facilities.head() #renaming id to a new name as facility_id in column 1

,facility_id,nct_id,status,name,city,state,zip,country
0,54163635,NCT04072887,NaN,Novartis Investigative Site,Andalusia,Alabama,36420,United States
1,53628563,NCT03432260,NaN,DURECT Study Site 0001,San Diego,California,92118,United States
2,54846233,NCT01806571,NaN,Mayo Clinic in Arizona,Scottsdale,Arizona,85259,United States
3,54163636,NCT04072887,NaN,Novartis Investigative Site,Los Angeles,California,90025,United States
4,54163637,NCT04072887,NaN,Novartis Investigative Site,Westminster,California,92683,United States

In [12]:
facilities.info # Here we see there is about two million files by 8 columns such as (id, nct_id, status, name, city, state, zip, and country)

<bound method DataFrame.info of          facility_id       nct_id status                         name  \
0           54163635  NCT04072887    NaN  Novartis Investigative Site
1           53628563  NCT03432260    NaN       DURECT Study Site 0001
2           54846233  NCT01806571    NaN       Mayo Clinic in Arizona
3           54163636  NCT04072887    NaN  Novartis Investigative Site
4           54163637  NCT04072887    NaN  Novartis Investigative Site
...              ...          ...    ...                          ...
2709614     54846171  NCT01806298    NaN                Research site
2709615     54846172  NCT01806298    NaN                Research site
2709616     54846173  NCT01806298    NaN                Research site
2709617     54846174  NCT01806298    NaN                Research site
2709618     54846175  NCT01806298    NaN                Research site

                city       state    zip        country
0          Andalusia     Alabama  36420  United States
1          San Diego  California  92118  United States
2         Scottsdale     Arizona  85259  United States
3        Los Angeles  California  90025  United States
4        Westminster  California  92683  United States
...              ...         ...    ...            ...
2709614       Berlin         NaN  13344        Germany
2709615    Oldenburg         NaN  26122        Germany
2709616     Würzburg         NaN  97080        Germany
2709617     Goteborg         NaN  41345         Sweden
2709618    Stockholm         NaN  17176         Sweden

[2709619 rows x 8 columns]>

#PART 4: IMPORTING INVESTIGATORS DATASET

In [13]:
investigators = pd.read_csv("/content/drive/MyDrive/Data/facility_investigators.csv")
#import the investigators dataframe unto collab

In [14]:
investigators.head()

,id,nct_id,facility_id,role,name
0,6092264,NCT05033743,53017259,Principal Investigator,"Chemen Neal, MD"
1,6092265,NCT05033743,53017259,Sub-Investigator,"David Haas, MD, MS"
2,6092266,NCT05033743,53017259,Sub-Investigator,"Peipert Jeffrey, MD, PhD"
3,6314742,NCT03505801,55091850,Principal Investigator,"Stephen Mester, MD"
4,6226691,NCT04136002,53911630,Principal Investigator,"Pankaj Kashyap, MD"

In [15]:
investigators = investigators.rename({"facility_id":"f_id"}, axis = 1)
investigators.head() #renaming facility_id to a new name as f_id in column 3

,id,nct_id,f_id,role,name
0,6092264,NCT05033743,53017259,Principal Investigator,"Chemen Neal, MD"
1,6092265,NCT05033743,53017259,Sub-Investigator,"David Haas, MD, MS"
2,6092266,NCT05033743,53017259,Sub-Investigator,"Peipert Jeffrey, MD, PhD"
3,6314742,NCT03505801,55091850,Principal Investigator,"Stephen Mester, MD"
4,6226691,NCT04136002,53911630,Principal Investigator,"Pankaj Kashyap, MD"

In [16]:
investigators.info
# Here we are dealing with around 220,000 files in the dataframe and with 5 columns of info such as ( id, nct_id, facility_id, role, & name).

<bound method DataFrame.info of              id       nct_id      f_id                    role  \
0       6092264  NCT05033743  53017259  Principal Investigator
1       6092265  NCT05033743  53017259        Sub-Investigator
2       6092266  NCT05033743  53017259        Sub-Investigator
3       6314742  NCT03505801  55091850  Principal Investigator
4       6226691  NCT04136002  53911630  Principal Investigator
...         ...          ...       ...                     ...
220478  6084648  NCT05268406  52937584  Principal Investigator
220479  6084649  NCT05268406  52937585  Principal Investigator
220480  6084650  NCT05266508  52937595  Principal Investigator
220481  6084651  NCT05266508  52937595  Principal Investigator
220482  6084652  NCT05246163  52937603  Principal Investigator

                            name
0                Chemen Neal, MD
1             David Haas, MD, MS
2       Peipert Jeffrey, MD, PhD
3             Stephen Mester, MD
4             Pankaj Kashyap, MD
...                          ...
220478          Wisam Sbeit, M.D
220479    Nadir Arber, Professor
220480    Melanie Boltzmann, PhD
220481        Yvonne Mondorf, MD
220482    Lieve Brochez, MD, PhD

[220483 rows x 5 columns]>

#PART 5: MERGING FACILITIES AND INVESTIGATORS DATASETS TOGETHER

In [17]:
clinical_trials=pd.merge(facilities,investigators,left_on="facility_id",right_on="f_id")
clinical_trials
# Here we merge facilities and invesitagors datasets together, calliing it ( CLINICAL_TRIALS )

,facility_id,nct_id_x,status,name_x,city,state,zip,country,id,nct_id_y,f_id,role,name_y
0,54163791,NCT04056910,Recruiting,UPMC Hillman Cancer Center,Pittsburgh,Pennsylvania,15232,United States,6272018,NCT04056910,54163791,Principal Investigator,"Jason J Luke, MD, FACP"
1,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272019,NCT04053478,54163792,Sub-Investigator,"Alice Luca, MSc"
2,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272020,NCT04053478,54163792,Sub-Investigator,"Jose Carvalho, MD"
3,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272021,NCT04053478,54163792,Sub-Investigator,"John Kingdom, MD"
4,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272022,NCT04053478,54163792,Sub-Investigator,"Chinaza Egbuta, PhD"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220478,54829098,NCT01719562,Recruiting,Virginia Commonwealth University Health Sciences,Richmond,Virginia,23284,United States,6296465,NCT01719562,54829098,Principal Investigator,Alexander Lucas
220479,54829101,NCT01647763,Recruiting,Kantonsspital St. Gallen,St. Gallen,NaN,9007,Switzerland,6296466,NCT01647763,54829101,Principal Investigator,"Lukas Marti, MD"
220480,54829104,NCT01612949,Recruiting,Wake Forest Baptist Medical Center,Winston-Salem,North Carolina,27157,United States,6296467,NCT01612949,54829104,Principal Investigator,"Scott Segal, MD, MHCM"
220481,54829138,NCT01084785,Recruiting,Maastricht Radiation Oncology,Maastricht,Limburg,NaN,Netherlands,6296468,NCT01084785,54829138,Principal Investigator,"Dirk De Ruysscher, Prof PHD"
220482,54829158,NCT00200889,Recruiting,Massachusetts General Hospital,Boston,Massachusetts,02114,United States,6296469,NCT00200889,54829158,Principal Investigator,"Vitaly Napadow, PhD"

In [18]:
print(facilities.shape)
print(investigators.shape)
print(clinical_trials.shape)

(2709619, 8)
(220483, 5)
(220483, 13)

#PART 6: ANALYZING THE CLINICAL TRIALS DATASET

In [19]:
clinical_trials['clinical_trial_exp'] = True 
#This code here confirms the doctor's identify whether he/she has clinical trial experience.

In [20]:
clinical_trials.head(10) # here is the clinical trials dataframe

,facility_id,nct_id_x,status,name_x,city,state,zip,country,id,nct_id_y,f_id,role,name_y,clinical_trial_exp
0,54163791,NCT04056910,Recruiting,UPMC Hillman Cancer Center,Pittsburgh,Pennsylvania,15232,United States,6272018,NCT04056910,54163791,Principal Investigator,"Jason J Luke, MD, FACP",True
1,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272019,NCT04053478,54163792,Sub-Investigator,"Alice Luca, MSc",True
2,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272020,NCT04053478,54163792,Sub-Investigator,"Jose Carvalho, MD",True
3,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272021,NCT04053478,54163792,Sub-Investigator,"John Kingdom, MD",True
4,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272022,NCT04053478,54163792,Sub-Investigator,"Chinaza Egbuta, PhD",True
5,52531058,NCT00168493,Recruiting,Baker Heart Research Institute,Melbourne,Victoria,3,Australia,6049365,NCT00168493,52531058,Principal Investigator,"David a Barton, m",True
6,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272023,NCT04040673,54163802,Principal Investigator,"Alexander P Dudgeon, PhD",True
7,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272024,NCT04040673,54163802,Sub-Investigator,"Catherine A Kendall, PhD",True
8,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272025,NCT04040673,54163802,Sub-Investigator,"Charlie Hall, MBBS",True
9,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272026,NCT04040673,54163802,Sub-Investigator,Maryam Nowghani,True

In [21]:
clinical_trials = clinical_trials.rename({"name_x":"facility_nm"}, axis = 1)
clinical_trials = clinical_trials.rename({"name_y":"name"},axis = 1)
clinical_trials = clinical_trials.rename({"cty":"city"}, axis = 1)
clinical_trials = clinical_trials.rename({"st":"state"}, axis = 1)
clinical_trials.head()
#Just cleaning up the names of the columns

,facility_id,nct_id_x,status,facility_nm,city,state,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp
0,54163791,NCT04056910,Recruiting,UPMC Hillman Cancer Center,Pittsburgh,Pennsylvania,15232,United States,6272018,NCT04056910,54163791,Principal Investigator,"Jason J Luke, MD, FACP",True
1,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272019,NCT04053478,54163792,Sub-Investigator,"Alice Luca, MSc",True
2,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272020,NCT04053478,54163792,Sub-Investigator,"Jose Carvalho, MD",True
3,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272021,NCT04053478,54163792,Sub-Investigator,"John Kingdom, MD",True
4,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272022,NCT04053478,54163792,Sub-Investigator,"Chinaza Egbuta, PhD",True

In [22]:
clinical_trials[['name','Cred']]= clinical_trials['name'].str.split(',', n=1, expand = True)
clinical_trials.head(10) #here we are splitting name as their following cred/credentials

,facility_id,nct_id_x,status,facility_nm,city,state,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,Cred
0,54163791,NCT04056910,Recruiting,UPMC Hillman Cancer Center,Pittsburgh,Pennsylvania,15232,United States,6272018,NCT04056910,54163791,Principal Investigator,Jason J Luke,True,"MD, FACP"
1,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272019,NCT04053478,54163792,Sub-Investigator,Alice Luca,True,MSc
2,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272020,NCT04053478,54163792,Sub-Investigator,Jose Carvalho,True,MD
3,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272021,NCT04053478,54163792,Sub-Investigator,John Kingdom,True,MD
4,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272022,NCT04053478,54163792,Sub-Investigator,Chinaza Egbuta,True,PhD
5,52531058,NCT00168493,Recruiting,Baker Heart Research Institute,Melbourne,Victoria,3,Australia,6049365,NCT00168493,52531058,Principal Investigator,David a Barton,True,m
6,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272023,NCT04040673,54163802,Principal Investigator,Alexander P Dudgeon,True,PhD
7,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272024,NCT04040673,54163802,Sub-Investigator,Catherine A Kendall,True,PhD
8,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272025,NCT04040673,54163802,Sub-Investigator,Charlie Hall,True,MBBS
9,54163802,NCT04040673,NaN,Biophotonics Research Unit,Gloucester,Gloucestershire,GL1 2AF,United Kingdom,6272026,NCT04040673,54163802,Sub-Investigator,Maryam Nowghani,True,None

In [23]:
clinical_trials['array'] = clinical_trials['name'].str.split(' ')

In [24]:
clinical_trials.head()

,facility_id,nct_id_x,status,facility_nm,city,state,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,Cred,array
0,54163791,NCT04056910,Recruiting,UPMC Hillman Cancer Center,Pittsburgh,Pennsylvania,15232,United States,6272018,NCT04056910,54163791,Principal Investigator,Jason J Luke,True,"MD, FACP","[Jason, J, Luke]"
1,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272019,NCT04053478,54163792,Sub-Investigator,Alice Luca,True,MSc,"[Alice, Luca]"
2,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272020,NCT04053478,54163792,Sub-Investigator,Jose Carvalho,True,MD,"[Jose, Carvalho]"
3,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272021,NCT04053478,54163792,Sub-Investigator,John Kingdom,True,MD,"[John, Kingdom]"
4,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272022,NCT04053478,54163792,Sub-Investigator,Chinaza Egbuta,True,PhD,"[Chinaza, Egbuta]"

In [25]:
clinical_trials['first_nm']= clinical_trials['array'].apply(lambda x: x[0]) # array split by there first name column
clinical_trials['last_nm']= clinical_trials['array'].apply(lambda x: x[-1]) # array split by there last name column

In [26]:
clinical_trials = clinical_trials.rename({"frst_nm":"first_nm"}, axis = 1)
clinical_trials = clinical_trials.rename({"lst_nm":"last_nm"},axis = 1)
clinical_trials = clinical_trials.rename({"CRED":"Cred"},axis = 1)
clinical_trials.head()
# renaming clinical trials columns properly

,facility_id,nct_id_x,status,facility_nm,city,state,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,Cred,array,first_nm,last_nm
0,54163791,NCT04056910,Recruiting,UPMC Hillman Cancer Center,Pittsburgh,Pennsylvania,15232,United States,6272018,NCT04056910,54163791,Principal Investigator,Jason J Luke,True,"MD, FACP","[Jason, J, Luke]",Jason,Luke
1,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272019,NCT04053478,54163792,Sub-Investigator,Alice Luca,True,MSc,"[Alice, Luca]",Alice,Luca
2,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272020,NCT04053478,54163792,Sub-Investigator,Jose Carvalho,True,MD,"[Jose, Carvalho]",Jose,Carvalho
3,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272021,NCT04053478,54163792,Sub-Investigator,John Kingdom,True,MD,"[John, Kingdom]",John,Kingdom
4,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272022,NCT04053478,54163792,Sub-Investigator,Chinaza Egbuta,True,PhD,"[Chinaza, Egbuta]",Chinaza,Egbuta

In [27]:
clinical_trials['first_nm']= clinical_trials['first_nm'].str.upper()
clinical_trials['last_nm']= clinical_trials['last_nm'].str.upper()
# changing the first and last names of the doctors from lower case to upper case so it all merges and navigates its match correctly

In [28]:
clinical_trials.drop(['array'],axis = 1) # here i dropped the array column, becuase it wasnt useful since i split them by there first and last name

,facility_id,nct_id_x,status,facility_nm,city,state,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,Cred,first_nm,last_nm
0,54163791,NCT04056910,Recruiting,UPMC Hillman Cancer Center,Pittsburgh,Pennsylvania,15232,United States,6272018,NCT04056910,54163791,Principal Investigator,Jason J Luke,True,"MD, FACP",JASON,LUKE
1,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272019,NCT04053478,54163792,Sub-Investigator,Alice Luca,True,MSc,ALICE,LUCA
2,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272020,NCT04053478,54163792,Sub-Investigator,Jose Carvalho,True,MD,JOSE,CARVALHO
3,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272021,NCT04053478,54163792,Sub-Investigator,John Kingdom,True,MD,JOHN,KINGDOM
4,54163792,NCT04053478,Recruiting,Mount Sinai Hospital,Toronto,Ontario,M5G1X5,Canada,6272022,NCT04053478,54163792,Sub-Investigator,Chinaza Egbuta,True,PhD,CHINAZA,EGBUTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220478,54829098,NCT01719562,Recruiting,Virginia Commonwealth University Health Sciences,Richmond,Virginia,23284,United States,6296465,NCT01719562,54829098,Principal Investigator,Alexander Lucas,True,None,ALEXANDER,LUCAS
220479,54829101,NCT01647763,Recruiting,Kantonsspital St. Gallen,St. Gallen,NaN,9007,Switzerland,6296466,NCT01647763,54829101,Principal Investigator,Lukas Marti,True,MD,LUKAS,MARTI
220480,54829104,NCT01612949,Recruiting,Wake Forest Baptist Medical Center,Winston-Salem,North Carolina,27157,United States,6296467,NCT01612949,54829104,Principal Investigator,Scott Segal,True,"MD, MHCM",SCOTT,SEGAL
220481,54829138,NCT01084785,Recruiting,Maastricht Radiation Oncology,Maastricht,Limburg,NaN,Netherlands,6296468,NCT01084785,54829138,Principal Investigator,Dirk De Ruysscher,True,Prof PHD,DIRK,RUYSSCHER
220482,54829158,NCT00200889,Recruiting,Massachusetts General Hospital,Boston,Massachusetts,02114,United States,6296469,NCT00200889,54829158,Principal Investigator,Vitaly Napadow,True,PhD,VITALY,NAPADOW

#PART 7: ANALYZING THE MEDICAL DATASET

In [29]:
medical_trials.head() # here is the medical dataframe

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,cty,st,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id
0,1215235031,7113184110,I20120202000430,ALLEN,SUSAN,K,NaN,F,NaN,OTHER,1998.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,415 N HIGGINS,SUITE 4,NaN,MISSOULA,MT,598024559,4.063030e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MT598024559MI415XXHIGG302
1,1215315775,840586251,I20160912001561,HILL,SAMANTHA,NaN,NaN,F,NaN,OTHER,2009.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549 NEW RD,SUITE E,NaN,SOMERS POINT,NJ,082442075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NJ082442075SO549XXRDXX301
2,1215478607,1254603012,I20170815001333,WHITED,STEPHANIE,NaN,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602 RADFORD ST,NaN,NaN,CHRISTIANSBURG,VA,240733303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,VA240733303CH602XXSTXX300
3,1215260161,547672214,I20201222001863,AMBRUS,VICTORIA,NaN,NaN,F,NaN,OTHER,2019.0,CLINICAL PSYCHOLOGIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1811A N US HWY 281,SUITE 8,NaN,MARBLE FALLS,TX,786544313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,TX786544313MA1811A281X501
4,1215265202,5597952945,I20101210000287,COLON GAVILLAN,ADA,NaN,NaN,F,NaN,OTHER,1982.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8 SUCALLE FLOR GERENA,NaN,NaN,HUMACAO,PR,007913912,7.878501e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,PR007913912HU8XXXXGERE400

In [30]:
medical_trials.columns

Index(['NPI', ' Ind_PAC_ID', ' Ind_enrl_ID', ' lst_nm', ' frst_nm', ' mid_nm',
       ' suff', ' gndr', ' Cred', ' Med_sch', ' Grd_yr', ' pri_spec',
       ' sec_spec_1', '    sec_spec_2', ' sec_spec_3', ' sec_spec_4',
       ' sec_spec_all', '    org_nm', ' org_pac_id', ' num_org_mem',
       ' adr_ln_1', ' adr_ln_2', ' ln_2_sprs', ' cty', ' st', ' zip',
       ' phn_numbr', '    hosp_afl_1', ' hosp_afl_lbn_1', ' hosp_afl_2',
       ' hosp_afl_lbn_2', ' hosp_afl_3', ' hosp_afl_lbn_3', ' hosp_afl_4',
       ' hosp_afl_lbn_4', ' hosp_afl_5', ' hosp_afl_lbn_5', ' ind_assgn',
       ' grp_assgn', ' adrs_id'],
      dtype='object')

In [31]:
medical_trials = medical_trials.rename({" frst_nm":"first_nm"}, axis = 1)
medical_trials = medical_trials.rename({" lst_nm":"last_nm"},axis = 1)
medical_trials = medical_trials.rename({" cty":"city"},axis = 1)
medical_trials = medical_trials.rename({" st":"state"},axis = 1)
medical_trials = medical_trials.rename({" Cred":"Cred"},axis = 1)
medical_trials.head()
# renaming the columns properly

,NPI,Ind_PAC_ID,Ind_enrl_ID,last_nm,first_nm,mid_nm,suff,gndr,Cred,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,city,state,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id
0,1215235031,7113184110,I20120202000430,ALLEN,SUSAN,K,NaN,F,NaN,OTHER,1998.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,415 N HIGGINS,SUITE 4,NaN,MISSOULA,MT,598024559,4.063030e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MT598024559MI415XXHIGG302
1,1215315775,840586251,I20160912001561,HILL,SAMANTHA,NaN,NaN,F,NaN,OTHER,2009.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549 NEW RD,SUITE E,NaN,SOMERS POINT,NJ,082442075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NJ082442075SO549XXRDXX301
2,1215478607,1254603012,I20170815001333,WHITED,STEPHANIE,NaN,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602 RADFORD ST,NaN,NaN,CHRISTIANSBURG,VA,240733303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,VA240733303CH602XXSTXX300
3,1215260161,547672214,I20201222001863,AMBRUS,VICTORIA,NaN,NaN,F,NaN,OTHER,2019.0,CLINICAL PSYCHOLOGIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1811A N US HWY 281,SUITE 8,NaN,MARBLE FALLS,TX,786544313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,TX786544313MA1811A281X501
4,1215265202,5597952945,I20101210000287,COLON GAVILLAN,ADA,NaN,NaN,F,NaN,OTHER,1982.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8 SUCALLE FLOR GERENA,NaN,NaN,HUMACAO,PR,007913912,7.878501e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,PR007913912HU8XXXXGERE400

#PART 8: MERGING MEDICAL AND CLINICAL TRIALS DATASET TOGETHER

In [32]:
medical_clinical = medical_trials.merge(clinical_trials, how = 'left',on=['first_nm','last_nm','city','state','Cred'])

medical_clinical.head(10)
# this is the new dataframe of medical and clinical datasets combined together

,NPI,Ind_PAC_ID,Ind_enrl_ID,last_nm,first_nm,mid_nm,suff,gndr,Cred,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,city,state,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id,facility_id,nct_id_x,status,facility_nm,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,array
0,1215235031,7113184110,I20120202000430,ALLEN,SUSAN,K,NaN,F,NaN,OTHER,1998.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,415 N HIGGINS,SUITE 4,NaN,MISSOULA,MT,598024559,4.063030e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MT598024559MI415XXHIGG302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1215315775,840586251,I20160912001561,HILL,SAMANTHA,NaN,NaN,F,NaN,OTHER,2009.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549 NEW RD,SUITE E,NaN,SOMERS POINT,NJ,082442075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NJ082442075SO549XXRDXX301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1215478607,1254603012,I20170815001333,WHITED,STEPHANIE,NaN,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602 RADFORD ST,NaN,NaN,CHRISTIANSBURG,VA,240733303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,VA240733303CH602XXSTXX300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1215260161,547672214,I20201222001863,AMBRUS,VICTORIA,NaN,NaN,F,NaN,OTHER,2019.0,CLINICAL PSYCHOLOGIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1811A N US HWY 281,SUITE 8,NaN,MARBLE FALLS,TX,786544313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,TX786544313MA1811A281X501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1215265202,5597952945,I20101210000287,COLON GAVILLAN,ADA,NaN,NaN,F,NaN,OTHER,1982.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8 SUCALLE FLOR GERENA,NaN,NaN,HUMACAO,PR,007913912,7.878501e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,PR007913912HU8XXXXGERE400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1215301833,4183971492,I20180718001089,CARROLL,AMANDA,R,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1515 DOCTORS DR,SUITE 4,NaN,BOSSIER CITY,LA,711113321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,LA711113321BO1515XDRXX301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1215498258,6305223181,I20220517001257,PRIDDY,WESLEY,PAUL ROBERTS,NaN,M,NaN,UNIVERSITY OF SOUTH FLORIDA COLLEGE OF MEDICINE,2019.0,EMERGENCY MEDICINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12901 BRUCE B DOWNS BLVD,NaN,NaN,TAMPA,FL,336124742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,FL336124742TA12901BLVD500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1215325535,2466764758,I20191204000130,OKONOFUA,MODUPE,M,NaN,F,NaN,OTHER,2018.0,NURSE PRACTITIONER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1322 N ACADEMY BLVD,SUITE 203,NaN,COLORADO SPRINGS,CO,809093320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,CO809093320CO1322XBLVD402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1215248158,3375667884,I20100903000587,SCHWARTZ,GEDALIA,N,NaN,M,NaN,STATE UNIVERSITY OF NEW YORK - STATE COLLEGE O...,2010.0,OPTOMETRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3282 WESTERN BRANCH BLVD,NaN,NaN,CHESAPEAKE,VA,233215261,7.574848e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,VA233215261CH3282XBLVD400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1215237664,8123267630,I20130613000276,VINCOLA,SONJA,NaN,NaN,F,NaN,OTHER,2004.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61 BOXFORD RD,NaN,NaN,ROWLEY,MA,019692419,9.788539e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MA019692419RO61XXXRDXX300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
medical_clinical.columns

Index(['NPI', ' Ind_PAC_ID', ' Ind_enrl_ID', 'last_nm', 'first_nm', ' mid_nm',
       ' suff', ' gndr', 'Cred', ' Med_sch', ' Grd_yr', ' pri_spec',
       ' sec_spec_1', '    sec_spec_2', ' sec_spec_3', ' sec_spec_4',
       ' sec_spec_all', '    org_nm', ' org_pac_id', ' num_org_mem',
       ' adr_ln_1', ' adr_ln_2', ' ln_2_sprs', 'city', 'state', ' zip',
       ' phn_numbr', '    hosp_afl_1', ' hosp_afl_lbn_1', ' hosp_afl_2',
       ' hosp_afl_lbn_2', ' hosp_afl_3', ' hosp_afl_lbn_3', ' hosp_afl_4',
       ' hosp_afl_lbn_4', ' hosp_afl_5', ' hosp_afl_lbn_5', ' ind_assgn',
       ' grp_assgn', ' adrs_id', 'facility_id', 'nct_id_x', 'status',
       'facility_nm', 'zip', 'country', 'id', 'nct_id_y', 'f_id', 'role',
       'name', 'clinical_trial_exp', 'array'],
      dtype='object')

In [34]:
medical_trials.shape

(2371710, 40)

In [35]:
clinical_trials.shape

(220483, 18)

In [36]:
medical_clinical.shape

(2371710, 53)

In [37]:
medical_clinical.clinical_trial_exp.value_counts()

Series([], Name: clinical_trial_exp, dtype: int64)

#PART 9: MATCHING DOCTORS TO THEIR USER INPUT

In [38]:
def find_doctors(city, specialty, has_done_clinical_trial):
  doctors_for_trial = medical_clinical[ (medical_clinical['city']==city) & (medical_clinical[' pri_spec']==specialty) ] 
  return doctors_for_trial # i found matches of doctors by there primary spec of clinical social workers

In [39]:
find_doctors('NEW YORK','CLINICAL SOCIAL WORKER',True)

,NPI,Ind_PAC_ID,Ind_enrl_ID,last_nm,first_nm,mid_nm,suff,gndr,Cred,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,city,state,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id,facility_id,nct_id_x,status,facility_nm,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,array
337,1215028113,9537127501,I20041221001002,GOOD,NANCY,NaN,NaN,F,CSW,OTHER,1976.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210 W 101ST ST,APT 16L,NaN,NEW YORK,NY,100255065,9.172821e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NY100255065NE210XXSTXX401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,1215099098,8527046192,I20041006000341,SPINA,JOANNE,NaN,NaN,F,CSW,OTHER,1972.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26 W 9TH ST,APT 6C,NaN,NEW YORK,NY,100118922,2.122543e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NY100118922NE26XXXSTXX409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,1205992252,2163708066,I20170407000095,HOGG,CAROL,ANNE,NaN,F,NaN,OTHER,1975.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1651 3RD AVE,RM 205,NaN,NEW YORK,NY,101283679,9.173344e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NY101283679NE1651XAVEX305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,1215092762,7618141185,I20111118000010,KAUFMAN,KAREN,NaN,NaN,F,NaN,OTHER,1981.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132 E 72ND ST,LOBBY SUITE,NaN,NEW YORK,NY,100214267,2.126400e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NY100214267NE132XXSTXX401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,1215090063,7315114105,I20120119000220,GEORGIEVA KAZAKOV,MILENA,NaN,NaN,F,NaN,OTHER,1996.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177 PRINCE ST,APT 504,NaN,NEW YORK,NY,100122935,2.127068e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NY100122935NE177XXSTXX302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313828,1407136765,6103135058,I20151016000549,WHEELER,LESLIE,Q,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,"THE FIFTH AVENUE COUNSELING CENTER, INC.",9.739246e+09,19.0,5 E 17TH ST,FL 2,NaN,NEW YORK,NY,100031949,2.129893e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NY100031949NE5XXXXSTXX401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313829,1245631134,2860741865,I20180824001101,SZYMASZEK,JENNIFER,NaN,NaN,F,NaN,OTHER,2015.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,"THE FIFTH AVENUE COUNSELING CENTER, INC.",9.739246e+09,19.0,5 E 17TH ST,FL 2,NaN,NEW YORK,NY,100031949,2.129893e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NY100031949NE5XXXXSTXX401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313832,1467909820,9436586187,I20200219001716,CARAPEZZI,CAROLYN,GRACE,NaN,F,NaN,OTHER,2016.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,"THE FIFTH AVENUE COUNSELING CENTER, INC.",9.739246e+09,19.0,5 E 17TH ST,FL 2,NaN,NEW YORK,NY,100031949,2.129893e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NY100031949NE5XXXXSTXX401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313833,1487022190,6608278270,I20210706002348,LAI,GLADYS,NaN,NaN,F,NaN,OTHER,2016.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,"THE FIFTH AVENUE COUNSELING CENTER, INC.",9.739246e+09,19.0,5 E 17TH ST,FL 2,NaN,NEW YORK,NY,100031949,2.129893e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NY100031949NE5XXXXSTXX401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313837,1700820792,2668549296,I20080924000419,MACK,RICHARD,J,NaN,M,NaN,OTHER,2005.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,"THE FIFTH AVENUE COUNSELING CENTER, INC.",9.739246e+09,19.0,5 E 17TH ST,FL 2,NaN,NEW YORK,NY,100031949,2.129893e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NY100031949NE5XXXXSTXX401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
medical_clinical = medical_trials.merge(clinical_trials, how = 'left',on=['first_nm','last_nm'])

medical_clinical.head(10) 
# here i remerged the two datasets with only there first and last name 
# in order to show if the doctors have any clinical trial experience

,NPI,Ind_PAC_ID,Ind_enrl_ID,last_nm,first_nm,mid_nm,suff,gndr,Cred_x,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,city_x,state_x,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id,facility_id,nct_id_x,status,facility_nm,city_y,state_y,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,Cred_y,array
0,1215235031,7113184110,I20120202000430,ALLEN,SUSAN,K,NaN,F,NaN,OTHER,1998.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,415 N HIGGINS,SUITE 4,NaN,MISSOULA,MT,598024559,4.063030e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MT598024559MI415XXHIGG302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1215315775,840586251,I20160912001561,HILL,SAMANTHA,NaN,NaN,F,NaN,OTHER,2009.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,549 NEW RD,SUITE E,NaN,SOMERS POINT,NJ,082442075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,NJ082442075SO549XXRDXX301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1215478607,1254603012,I20170815001333,WHITED,STEPHANIE,NaN,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,602 RADFORD ST,NaN,NaN,CHRISTIANSBURG,VA,240733303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,VA240733303CH602XXSTXX300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1215260161,547672214,I20201222001863,AMBRUS,VICTORIA,NaN,NaN,F,NaN,OTHER,2019.0,CLINICAL PSYCHOLOGIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1811A N US HWY 281,SUITE 8,NaN,MARBLE FALLS,TX,786544313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,TX786544313MA1811A281X501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1215265202,5597952945,I20101210000287,COLON GAVILLAN,ADA,NaN,NaN,F,NaN,OTHER,1982.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8 SUCALLE FLOR GERENA,NaN,NaN,HUMACAO,PR,007913912,7.878501e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,PR007913912HU8XXXXGERE400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1215301833,4183971492,I20180718001089,CARROLL,AMANDA,R,NaN,F,NaN,OTHER,2012.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1515 DOCTORS DR,SUITE 4,NaN,BOSSIER CITY,LA,711113321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,LA711113321BO1515XDRXX301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1215498258,6305223181,I20220517001257,PRIDDY,WESLEY,PAUL ROBERTS,NaN,M,NaN,UNIVERSITY OF SOUTH FLORIDA COLLEGE OF MEDICINE,2019.0,EMERGENCY MEDICINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12901 BRUCE B DOWNS BLVD,NaN,NaN,TAMPA,FL,336124742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,FL336124742TA12901BLVD500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1215325535,2466764758,I20191204000130,OKONOFUA,MODUPE,M,NaN,F,NaN,OTHER,2018.0,NURSE PRACTITIONER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1322 N ACADEMY BLVD,SUITE 203,NaN,COLORADO SPRINGS,CO,809093320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,CO809093320CO1322XBLVD402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1215248158,3375667884,I20100903000587,SCHWARTZ,GEDALIA,N,NaN,M,NaN,STATE UNIVERSITY OF NEW YORK - STATE COLLEGE O...,2010.0,OPTOMETRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3282 WESTERN BRANCH BLVD,NaN,NaN,CHESAPEAKE,VA,233215261,7.574848e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,VA233215261CH3282XBLVD400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1215237664,8123267630,I20130613000276,VINCOLA,SONJA,NaN,NaN,F,NaN,OTHER,2004.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61 BOXFORD RD,NaN,NaN,ROWLEY,MA,019692419,9.788539e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,MA019692419RO61XXXRDXX300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
medical_clinical.isnull().sum()

NPI                         0
 Ind_PAC_ID                 0
 Ind_enrl_ID                0
last_nm                    45
first_nm                   33
 mid_nm                763669
 suff                 2787336
 gndr                       0
Cred_x                2045901
 Med_sch                    5
 Grd_yr                  1689
 pri_spec                   0
 sec_spec_1           2409411
    sec_spec_2        2789760
 sec_spec_3           2835430
 sec_spec_4           2839055
 sec_spec_all         2409411
    org_nm             186715
 org_pac_id            186711
 num_org_mem           186711
 adr_ln_1                   0
 adr_ln_2             1859491
 ln_2_sprs            2644431
city_x                      0
state_x                     0
 zip                        0
 phn_numbr             458889
    hosp_afl_1         815172
 hosp_afl_lbn_1        878254
 hosp_afl_2           1798245
 hosp_afl_lbn_2       1812960
 hosp_afl_3           2277167
 hosp_afl_lbn_3       2281243
 hosp_afl_4           2520358
 hosp_afl_lbn_4       2522514
 hosp_afl_5           2639203
 hosp_afl_lbn_5       2640772
 ind_assgn                  0
 grp_assgn                  0
 adrs_id                    0
facility_id           2221565
nct_id_x              2221565
status                2237464
facility_nm           2221575
city_y                2221565
state_y               2246716
zip                   2235937
country               2221565
id                    2221565
nct_id_y              2221565
f_id                  2221565
role                  2221565
name                  2221565
clinical_trial_exp    2221565
Cred_y                2598379
array                 2221565
dtype: int64

In [42]:
def doctors_exp(has_done_clinical_trial):
  doctors_trial = medical_clinical[(medical_clinical['clinical_trial_exp'] == has_done_clinical_trial)] 
  return doctors_trial

In [43]:
doctors_exp(True)
# here we see the doctors with there clinical trial experience

,NPI,Ind_PAC_ID,Ind_enrl_ID,last_nm,first_nm,mid_nm,suff,gndr,Cred_x,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,city_x,state_x,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id,facility_id,nct_id_x,status,facility_nm,city_y,state_y,zip,country,id,nct_id_y,f_id,role,name,clinical_trial_exp,Cred_y,array
82,1215497987,5698001980,I20220419002367,JOHNSON,BRETT,EDWARD,NaN,M,NaN,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",2019.0,EMERGENCY MEDICINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55 LAKE AVE N,NaN,NaN,WORCESTER,MA,016550002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,MA016550002WO55XXXNXXX400,53579452.0,NCT04829461,Recruiting,University of Texas Southwestern Medical Center,Dallas,Texas,75390,United States,6189283.0,NCT04829461,53579452.0,Principal Investigator,Brett Johnson,True,MD,"[Brett, Johnson]"
184,1215233192,3678748928,I20220318001022,PATEL,MITUL,NATU,NaN,M,NaN,OTHER,2007.0,INTERNAL MEDICINE,NEPHROLOGY,NaN,NaN,NaN,NEPHROLOGY,NaN,NaN,NaN,1490 HWY 72 E,NaN,NaN,HUNTSVILLE,AL,358111508,3.185410e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,AL358111508HU1490XEXXX400,53750815.0,NCT03192696,Recruiting,University of California San Diego (UCSD),San Diego,California,92037,United States,6202231.0,NCT03192696,53750815.0,Principal Investigator,Mitul Patel,True,MD,"[Mitul, Patel]"
185,1215233192,3678748928,I20220318001022,PATEL,MITUL,NATU,NaN,M,NaN,OTHER,2007.0,INTERNAL MEDICINE,NEPHROLOGY,NaN,NaN,NaN,NEPHROLOGY,NaN,NaN,NaN,1490 HWY 72 E,NaN,NaN,HUNTSVILLE,AL,358111508,3.185410e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,AL358111508HU1490XEXXX400,53878043.0,NCT04647253,Recruiting,University of California San Diego,La Jolla,California,92037,United States,6219168.0,NCT04647253,53878043.0,Principal Investigator,Mitul Patel,True,MD,"[Mitul, Patel]"
186,1215233192,3678748928,I20220318001022,PATEL,MITUL,NATU,NaN,M,NaN,OTHER,2007.0,INTERNAL MEDICINE,NEPHROLOGY,NaN,NaN,NaN,NEPHROLOGY,NaN,NaN,NaN,1490 HWY 72 E,NaN,NaN,HUNTSVILLE,AL,358111508,3.185410e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,AL358111508HU1490XEXXX400,52950508.0,NCT02061436,Recruiting,San Diego VAMC and University of California,San Diego,California,92161,United States,6087135.0,NCT02061436,52950508.0,Principal Investigator,Mitul Patel,True,MD,"[Mitul, Patel]"
226,1215262092,1658369897,I20201013001910,FARRIS,MICHAEL,ANDREW,NaN,M,CP,OTHER,1983.0,CLINICAL PSYCHOLOGIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2312 WILTON DR,SUITE 2,NaN,WILTON MANORS,FL,333051249,9.738650e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,M,FL333051249WI2312XDRXX309,55137686.0,NCT04402788,Recruiting,Wake Forest University Health Sciences,Winston-Salem,North Carolina,27157,United States,6325982.0,NCT04402788,55137686.0,Principal Investigator,Michael K. Farris,True,None,"[Michael, K., Farris]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2839548,1982263190,8921333824,I20190715003207,KUHN,TAYLOR,NaN,NaN,F,NaN,MAYO MEDICAL SCHOOL,2019.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,VIVERANT PT LLC,9.931529e+09,63.0,17811 KENWOOD TRL,NaN,NaN,LAKEVILLE,MN,550449493,9.528355e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,MN550449493LA17811TRLX300,53441154.0,NCT03717922,Recruiting,"University of California, Los Angeles",Los Angeles,California,90095,United States,6165726.0,NCT03717922,53441154.0,Principal Investigator,Taylor P Kuhn,True,PhD,"[Taylor, P, Kuhn]"
2839575,1063920536,9032450333,I20190415002714,JONES,KAREN,T,NaN,F,NaN,OTHER,2017.0,NURSE PRACTITIONER,NaN,NaN,NaN,NaN,NaN,HEALTH PROVIDERS OF AMERICA LLC,9.931530e+09,12.0,20 HAWTHORNE PARK CT,NaN,NaN,GREENVILLE,SC,296153194,8.645355e+09,420051.0,MCLEOD REGIONAL MEDICAL CENTER-PEE DEE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,SC296153194GR20XXXCTXX400,53203451.0,NCT02308254,Recruiting,"Discipline of Medicine, Royal Adelaide Hospital",Adelaide,South Australia,5000,Australia,6113392.0,NCT02308254,53203451.0,Principal Investigator,Karen L Jones,True,PhD,"[Karen, L, Jones]"
2839582,1427418755,7810296977,I20160425001804,HAYES,LISA,D,NaN,F,NaN,OTHER,2015.0,NURSE PRACTITIONER,NaN,NaN,NaN,NaN,NaN,HEALTH PROVIDERS OF AMERICA LLC,9.931530e+09,12.0,850 JOHN B WHITE SR BLVD,NaN,NaN,SPARTANBURG,SC,293064034,8.645769e+09,420007.0,SPARTANBURG MEDICAL CENTER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,SC293064034SP850XXBLVD600,52683803.0,NCT03672630,Recruiting,Northwell Health,Manhasset,New York,11030,United States,6058114.0,NCT03672630,52683803.0,Principal Investigator,Lisa Hayes,True,MD,"[Lisa, Hayes]"
2839635,1679112627,840627212,I20200225000039,GORDON,GLENN,NaN,NaN,M,NaN,HAHNEMANN UNIVERSITY COLLEGE OF MEDICINE,1989.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,TRY THERAPY RESTORING YOU,9.931536e+09,2.0,341 E MORELAND RD,NaN,NaN,WILLOW GROVE,PA,190903507,2.158310e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,PA190903507WI341XXRDXX400,52657345.0,NCT00547469,Recruiting,"Center for Digestive and Liver Diseases, Inc.",Mexico City,Missouri,65265,United States,6053127.0,NCT00547469,52657345.0,Principal Investigator,Glenn Gordon,True,MD,"[Glenn, Gordon]"
2839662,1508824764,5597665786,I20040113000250,TYNDALL,WILLIAM,E,NaN,M,MD,OTHER,1968.0,EMERGENCY MEDICINE,GENERAL SURGERY,NaN,NaN,NaN,GENERAL SURGERY,"ERX-BAMA, LLC",9.931593e+09,10.0,83825 HWY 9,NaN,NaN,ASHLAND,AL,362517981,8.664885e+09,10073.0,CLAY COUNTY HOSPITAL,010150,THE HEALTH CARE AUTHORITY OF THE CITY OF GREEN...,010059,LAWRENCE MEDICAL CENTER,NaN,NaN,NaN,NaN,Y,Y,AL362517981AS838259XXX300,52303351.0,NCT04552119,Recruiting,University Orthopedics Center,Altoona,Pennsylvania,16602,United States,6041437.0,NCT04552119,52303351.0,Principal Investigator,William Tyndall,True,None,"[William, Tyndall]"